/* @media (max-width: 1440px) and (min-width: 1200px) {
  .fixture-list {
    display: grid;
    margin-top: 0;
    grid-auto-columns: calc((100% - 4*10px)/4);
    padding: 2rem 0;
    grid-gap: 15px;
  }
}

@media (max-width: 1199px) and (min-width: 1025px) {
  .fixture-list {
    grid-auto-columns: calc((100% - 3*8px)/3);
    margin: 0;
    padding: 1rem 0;
    grid-gap: 10px;
  }

  .fitting-title {
    font-size: var(--font-size);
  }
}

@media (max-width: 1024px) and (min-width: 801px) {
  .fixture-list {
    grid-auto-columns: calc((100% - 2*8px)/2);
    margin: 0;
    padding: 1rem 0;
    grid-gap: 10px;
  }

  .fitting-title {
    font-size: var(--font-size);
  }
}

@media (max-width: 800px) {
  .fixture-list {
    grid-auto-columns: calc((100% - 2*5px)/2);
    margin: 0;
    padding: 1rem 0;
    grid-gap: 10px;
  }

  .fitting-title {
    font-size: var(--font-size);
  }
}

@media (max-width: 400px) {
  .fixture-list {
    grid-auto-columns: calc((100% - 1*5px)/1);
    grid-gap: 5px;
  }

  .fitting-title {
    font-size: 12px;
  }
} */

/* @media (max-width: 1025px) {
  .fixture-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-columns: minmax(250px, 2fr);
    padding: 0rem 0 2rem 0;
    grid-gap: 15px;
  }
}

@media (max-width: 479px) {
  .fixture-list {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 1), 1fr));
    grid-auto-columns: minmax(calc(100% / 1), 2fr);
    grid-gap: 10px;
    padding: 0rem 0 3rem 0;
    margin-top: 2rem;
  }

  .fitting-title {
    font-size: 16px;
  }
} */

@media screen and (max-height: 800px) {
    .sunday-navbar.sunday-navbar-active {
        height: 60%;
    }
    #mobile-nav-content .nav-link {
      padding: 0.5rem 1rem;
    }
    
    .img-mapper-container {
        height: 100%;        
    }
    
    .img-bottom-container {
        height: 40%;
        min-height: 40%;
    }
}
